<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset ="UTF-8">
        <meta name="viewport" content="width=device-width", inital-scale="1.0">
        <title> Computer World</title>
        <link rel ="stylesheet" href="style.css">
        <link href=<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100&family=Lato:wght@300&family=M+PLUS+Code+Latin&family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    </head>
    <body>
        <div class = "header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="images/Computer-World-logos.jpeg" width="125px">
                </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="">About</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Sales</a></li>
                    <li><a href="">Account</a></li>
                </ul>
            </nav>
            <img src="images/cart.jpg" width="30px" height="30px">

            <img src="images/menuSmall-512.webp" class ="menuSmall-512-icon" oneclick="menutoggle()">

        </div>
        <div class="row">
            <div class="col-2">
                <h1><br>Here you have all your parts!<br></h1>
                <p> The worlds best online shop. </p>
                <a href="" class="btn">See Now &#8594;</a>

            </div>
            <div class="col-2">
            </div>
         </div>
      </div>
    </div>

<! ------- featured categories ------
    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="images/ram.jfif" oneclick="menutoggle()">
                </div>
                <div class="col-3">
                    <img src="images/mouse.jfif">
                </div>
                <div class="col-3" id="MenuItems">
                    <img src="images/sd.png">
                </div>
                <div class="col-3">
                    <img src="images/cat-2.jfif">
                </div>
            </div>
        </div>
    </div>
    <! ------- featured Products ------
    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="images/prod-1.jfif" oneclick="menutoggle()">
                
                <h4>PH-RTX3060-12G-V2</h4>
                <div class="rating">
                </div>
                <p>$390.00</p>
            </div>
            <div class="col-4">
                <img src="images/ram.jfif">
                <h4>32 GB RAM</h4>
                <div class="rating">
                </div>
                <p>$119.00</p>
            </div>
            <div class="col-4">
                <img src="images/mouse.jfif">
                <h4>Mouse</h4>
                <div class="rating">
                </div>
                <p>$15.00</p>
            </div>
            <div class="col-4">
                <img src="images/mouse-2.jfif">
                <h4>Used Razor Mouse</h4>
                <div class="rating">
                
                </div>
                <p>$50.00</p>
            </div>
        </div>
        <h2 class="title">Latest Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="images/cat-3.jfif">
                <h4>PH-6060RTX-12G-V2</h4>
                <div class="rating">
                <p>$15.00</p>
            </div>
            <div class="col-4">
                <img src="images/4070.jfif">
                <h4>PH-RTX4070-12G-V2</h4>
                <div class="rating">
                </div>
                <p>$700.00</p>
            </div>
            <div class="col-4">
                <img src="images/prod-1.jfif">
                <h4>PH-RTX3060-12G-V2</h4>
                <div class="rating">
                </div>
                <p>$250.00</p>
            </div>
            <div class="col-4">
                <img src="images/cat-3.jfif">
                <h4>PH-6060RTX-12G-V2</h4>
                <div class="rating">
                </div>
                <p>$199.00</p>
            </div>
        </div>
    </div>
    <!---------footer  ------>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3> For your computer needs. </h3>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";

        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.height = "200px";
            }
            else
            {
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>
</body>
</html>