styles.css

.container {
    background: transparent;
    overflow: hidden;
  }
  
.start {
      -webkit-animation: bannermove 70s linear infinite;
         -moz-animation: bannermove 70s linear infinite;
          -ms-animation: bannermove 70s linear infinite;
           -o-animation: bannermove 70s linear infinite;
              animation: bannermove 70s linear infinite;
  }
  
  .body {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 30%);
    height: auto;
  }
  
  .btn {
    background-color:#427BD2;
    cursor: pointer;
    font-family: 'Inter';
    font-weight: bold;
    border:2px solid #000732;
    border-radius:5px;
  }

  @keyframes bannermove {
   0% {
      margin-left: 0px;
   }
   100% {
      margin-left: -5746px;
   }
  
  }
  
  @-moz-keyframes bannermove {
   0% {
     margin-left: 0px;
   }
   100% {
     margin-left: -5746px;
   }
  
  }
  
  @-webkit-keyframes bannermove {
   0% {
     margin-left: 0px;
   }
   100% {
     margin-left: -5746px;
   }
  
  }
  
  @-o-keyframes bannermove {
   0% {
     margin-left: 0px;
   }
   100% {
     margin-left: -5746px;
   }
  
  }
  .banner {
      height: 100%;
      padding: 5px;
      width: 200%;
  }
  
  .banner img {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
  }
  
  .banner img:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      cursor: pointer;
  
      -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
      -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
      box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  }
  