<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inter'>
    <title>Computer World: Service Center</title>
</head>

<body class="template">
    <header class="header">
        <!-- Logo -->
        <img src="/static/pics/Computer-World-logos_transparent.png" alt="Computer-World-logo" width="200" height="200">

        <!-- Top/Right header button section -->
        <article class="top_btns">
            <input type="button" class="btn" onclick="" value="Login">
            <input type="button" class="btn" onclick="" value="My Account">
            <input type="button" class="btn" onclick="" value="My Cart">
        </article>

        <!-- header title and banner section -->
        <article class="container">
            <h1 class="heading">Computer Service Center</h1>
                <!-- Each image is 350px by 233px -->
                <article class="banner" >
                    <img class="start" src="https://c2.staticflickr.com/9/8454/28951308921_6589e3f1d3_z.jpg">
                    <img src="https://c3.staticflickr.com/9/8716/28407134794_bef4e3b216_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8334/28951307401_d8a7c852e9_z.jpg">
                    <img src="https://c1.staticflickr.com/9/8190/28407132824_fdf7bfe154_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8210/28951305801_bfe7c0b346_z.jpg">
                    <img src="https://c1.staticflickr.com/9/8716/28407131024_91c2626d3c_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8592/28951304321_a01fb808fb_z.jpg">
                    <img src="https://c1.staticflickr.com/9/8869/28407129424_54ea0f3d5a_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8454/28951308921_6589e3f1d3_z.jpg">
                    <img src="https://c3.staticflickr.com/9/8716/28407134794_bef4e3b216_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8334/28951307401_d8a7c852e9_z.jpg">
                    <img src="https://c1.staticflickr.com/9/8190/28407132824_fdf7bfe154_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8210/28951305801_bfe7c0b346_z.jpg">
                    <img src="https://c1.staticflickr.com/9/8716/28407131024_91c2626d3c_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8592/28951304321_a01fb808fb_z.jpg">
                    <img src="https://c1.staticflickr.com/9/8869/28407129424_54ea0f3d5a_z.jpg">
                </article>
        </article>
    </header>

    <section class="body">

        <article class="section_body">
            <article class="section_cell">
                <h3>Diagnostics and Inspections</h3>    
            </article>
            <article class="section_cell">
                <h3>Parts Installation</h3>    
            </article>
            <article class="section_cell">
                <h3>Repair</h3>    
            </article>
        </article>

        <article class="section_body">
            <article class="section_cell">
                <h3>Data Recovery</h3>    
            </article>
            <article class="section_cell">
                <h3>Reformat and Optimize Hard Drives</h3>    
            </article>
        </article>
        
        <article class="section_body">
            <article class="section_cell">
                <h3>Virus Scan and Removal</h3>    
            </article>
            <article class="section_cell">
                <h3>Software Installation and Configuration</h3>    
            </article>
        </article>
    
    </section>

    <footer class="footer_frame">

            <article class="footer">
                <h4>Company</h4>
                <hr color="#000732">
                <section class="footer_menu">
                    <article style="text-align:left; margin-left: 15px;">
                        <h4 class="footer_options" onclick="">About</h4>
                        <h4 class="footer_options" onclick="">Privacy Policy</h4>
                        <h4 class="footer_options" onclick="">Contact Us</h4>
                    </article>
                    <article style="text-align:left; margin-left: 200px;">
                        <h4 class="footer_options" onclick="">Press</h4>
                        <h4 class="footer_options" onclick="">Reviews</h4>
                        <h4 class="footer_options" onclick="">Blogs</h4>
                    </article>
                </section>
            </article>

            <article class="footer">
                <h4>Services</h4>
                <hr color="#000732">
                <section class="footer_menu">
                    <article style="text-align:left; margin-left: 15px;">
                        <h4 class="footer_options" onclick="">Online Store</h4>
                        <h4 class="footer_options" onclick="">Repair Services</h4>
                        <h4 class="footer_options" onclick="">Recycle</h4>
                    </article>
                </section>
            </article>
        
    </footer>

</body>
</html>