<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inter'>
    <title>Computer World: About Service Center</title>
</head>

<body class="frame">
    <header class="header">

        <nav>
            <input class="toggle" id="nav-toggle" type="checkbox">

            <ul class="links">
                <li class="special"><a href="#login">Login</a></li>
                <li class="special"><a href="#myacct">My Account</a></li>
                <li class="special"><a href="#mycart">My Cart</a></li>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">Sales Center</a></li>
                <li><a href="#work">Service Center</a></li>
                <li><a href="#projects">Recycle Center</a></li>
                <li><a href="#contact">About</a></li>
            </ul>

            <label for="nav-toggle" class="icon-burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
        </nav>

        <!-- Logo -->
        <img class ="logo" src="/static/pics/Computer-World-logos_transparent.png" alt="Computer-World-logo">
        
        <!-- Top/Right header button section -->
        <article class="top_btns">
            <input type="button" class="btn" onclick="" value="Login">
            <input type="button" class="btn" onclick="" value="My Account">
            <input type="button" class="btn" onclick="" value="My Cart">
        </article>

        <!-- header title and banner section -->
        <article class="container_about">
            <h1 class="heading">About Service Center</h1>
        </article>
    </header>

    <section class="body">

        <article class="content_about">
            <p>Dear valued customer,</p>
            <p>Thank you for choosing Computer-World Repair Service for your computer needs.</p>
            <p>Services:<br>
            We offer a wide range of computer repair services, including virus removal, 
                software installation and configuration, hardware replacement and upgrades, and data recovery. 
                Our technicians are trained and experienced in working with a variety of computer brands and models.</p>
            <p>Fees:<br> 
            charge a rate of $75 per hour for our computer repair services. There may be additional charges 
                for replacement parts or specialized software required for certain repairs. We will provide you with 
                a detailed estimate of the costs involved before beginning any work.  Also, be aware that shipping 
                costs are not included unless stated otherwise.</p>
            <p>Payment:<br>
                Payment for our services is due upon completion of the repair. Your total charge will be displayed 
                in your account cart.</p>
            <p>Data Privacy:<br>
                We take data privacy and security seriously. We will not access or copy any of your personal 
                files or data without your explicit permission. We also use secure data wiping methods when 
                disposing of any old or damaged hard drives.</p>
            <p>Guarantee:<br>
                We stand behind our work and offer a 30-day guarantee on all repairs. If you experience any 
                issues with your repaired computer within 30 days of our service, we will work to resolve the 
                issue at no additional charge and free shipping.</p>
            <p>Thank you for choosing Computer-World Repair Service. We look forward to serving you.</p>
            <p>Sincerely,<br>
                Computer-World Repair Service Service Team</p> 
        </article>
    
    </section>

    <footer class="footer_frame">

            <article class="footer">
                <h4>Company</h4>
                <hr color="#000732">
                <section class="footer_menu">
                    <article class="footer_section">
                        <h4 class="footer_options" onclick="">About</h4>
                        <h4 class="footer_options" onclick="">Privacy Policy</h4>
                        <h4 class="footer_options" onclick="">Contact Us</h4>
                    </article>
                    <article class="footer_section">
                        <h4 class="footer_options" onclick="">Press</h4>
                        <h4 class="footer_options" onclick="">Reviews</h4>
                        <h4 class="footer_options" onclick="">Blogs</h4>
                    </article>
                </section>
            </article>

            <article class="footer">
                <h4>Services</h4>
                <hr color="#000732">
                <section class="footer_menu">
                    <article class="footer_section">
                        <h4 class="footer_options" onclick="">Online Store</h4>
                        <h4 class="footer_options" onclick="">Repair Services</h4>
                        <h4 class="footer_options" onclick="">Recycle</h4>
                    </article>
                </section>
            </article>

    </footer>

    <footer class="footer_frame_mobile">

        <article class="footer">
            <h4>Company</h4>
            <hr color="#000732">
            <section class="footer_menu">
                <article  class="footer_menu">
                    <h4 class="footer_options" onclick="">About</h4>
                    <h4 class="footer_options" onclick="">Privacy Policy</h4>
                    <h4 class="footer_options" onclick="">Contact Us</h4>
                </article>
                
                <article  class="footer_menu">
                    <h4 class="footer_options" onclick="">Press</h4>
                    <h4 class="footer_options" onclick="">Reviews</h4>
                    <h4 class="footer_options" onclick="">Blogs</h4>
                </article>
            </section>
        </article>

    </footer>

</body>
</html>