<!DOCTYPE html>
<!-- https://www.w3schools.com/howto/howto_js_form_steps.asp -->
<html>
<head>
  <script
  src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
  crossorigin="anonymous"></script>
    <script>
      
    </script>
    
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>Computer World: Service Center</title>
</head>

<body class="frame">
    <header class="header">

        <nav>
            <input class="toggle" id="nav-toggle" type="checkbox">

            <ul class="links">
                <li class="special"><a href="#login">Login</a></li>
                <li class="special"><a href="#myacct">My Account</a></li>
                <li class="special"><a href="#mycart">My Cart</a></li>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">Sales Center</a></li>
                <li><a href="#work">Service Center</a></li>
                <li><a href="#projects">Recycle Center</a></li>
                <li><a href="#contact">About</a></li>
            </ul>

            <label for="nav-toggle" class="icon-burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
        </nav>

        <!-- Logo -->
        <img class ="logo" src="/static/pics/Computer-World-logos_transparent.png" alt="Computer-World-logo">
        
        <!-- Top/Right header button section -->
        <article class="top_btns">
            <input type="button" class="btn" onclick="" value="Login">
            <input type="button" class="btn" onclick="" value="My Account">
            <input type="button" class="btn" onclick="" value="My Cart">
        </article>

        <!-- header title and banner section -->
        <article class="banner_container">
            <h1 class="heading">Service Center</h1>
            <!-- Each image is 350px by 233px -->
                <article class="banner" >
                    <img class="start" src="https://c2.staticflickr.com/9/8454/28951308921_6589e3f1d3_z.jpg">
                    <img src="https://c3.staticflickr.com/9/8716/28407134794_bef4e3b216_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8334/28951307401_d8a7c852e9_z.jpg">
                    <img src="https://c1.staticflickr.com/9/8190/28407132824_fdf7bfe154_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8210/28951305801_bfe7c0b346_z.jpg">
                    <img src="https://c1.staticflickr.com/9/8716/28407131024_91c2626d3c_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8592/28951304321_a01fb808fb_z.jpg">
                    <img src="https://c1.staticflickr.com/9/8869/28407129424_54ea0f3d5a_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8454/28951308921_6589e3f1d3_z.jpg">
                    <img src="https://c3.staticflickr.com/9/8716/28407134794_bef4e3b216_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8334/28951307401_d8a7c852e9_z.jpg">
                    <img src="https://c1.staticflickr.com/9/8190/28407132824_fdf7bfe154_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8210/28951305801_bfe7c0b346_z.jpg">
                    <img src="https://c1.staticflickr.com/9/8716/28407131024_91c2626d3c_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8592/28951304321_a01fb808fb_z.jpg">
                    <img src="https://c1.staticflickr.com/9/8869/28407129424_54ea0f3d5a_z.jpg">
                </article>
        </article>
    </header>

    <section class="body">
        <form class="form">
            <fieldset class="fset">
                <h2 class="frm-title">Customer Information</h2>
                <input type="text" name="fname" placeholder="First Name" />
                <input type="text" name="lname" placeholder="Last Name" />
                <input type="text" name="email" placeholder="Email" />
                <input type="text" name="phone" placeholder="phone" />
            </fieldset>
            <fieldset class="fset">
                <h2 class="frm-title">Device Information</h2>
                <input type="text" name="dtype" placeholder="Device Type" />
                <input type="text" name="dbrand" placeholder="Device Brand" />
                <input type="text" name="dmodel" placeholder="Device Model" />
                <input type="text" name="dserial" placeholder="Device Serial" />
            </fieldset>
            <fieldset class="fset">
                <h2 class="frm-title">Issue Description</h2>
                <textarea id="idescript" rows="4" cols="50"></textarea>
            </fieldset>
            <fieldset class="fset">
                <h2 class="frm-title">Service Request</h2>
                <input type="checkbox" id="repair" value="repair">
                <label for="repair">Repair Service</label><br>
                <input type="checkbox" id="install" value="install">
                <label for="repair">Parts Installation</label><br>
                <input type="checkbox" id="diagnostic" value="diagnostic">
                <label for="repair">Diagnostics and Inspection</label><br>
                <input type="checkbox" id="recovery" value="recovery">
                <label for="repair">Data Recovery</label><br>
                <input type="checkbox" id="reformat" value="reformat">
                <label for="repair">Reformat and Optimize Storage Devices</label><br>
                <input type="checkbox" id="virus" value="virus">
                <label for="repair">Virus Scan and Removal</label><br>
                <input type="checkbox" id="install" value="install">
                <label for="repair">Software Installation and Configuration</label><br>
            </fieldset>
            <section class="submit">
                <input type="button" value="Submit"  class="btn">
            </section>
        </form>

    </section>

    <footer class="footer_frame">

            <article class="footer">
                <h4>Company</h4>
                <hr color="#000732">
                <section class="footer_menu">
                    <article style="text-align:left; margin-left: 15px;">
                        <h4 class="footer_options" onclick="">About</h4>
                        <h4 class="footer_options" onclick="">Privacy Policy</h4>
                        <h4 class="footer_options" onclick="">Contact Us</h4>
                    </article>
                    <article style="text-align:left; margin-left: 200px;">
                        <h4 class="footer_options" onclick="">Press</h4>
                        <h4 class="footer_options" onclick="">Reviews</h4>
                        <h4 class="footer_options" onclick="">Blogs</h4>
                    </article>
                </section>
            </article>

            <article class="footer">
                <h4>Services</h4>
                <hr color="#000732">
                <section class="footer_menu">
                    <article style="text-align:left; margin-left: 15px;">
                        <h4 class="footer_options" onclick="">Online Store</h4>
                        <h4 class="footer_options" onclick="">Repair Services</h4>
                        <h4 class="footer_options" onclick="">Recycle</h4>
                    </article>
                </section>
            </article>

    </footer>

    <footer class="footer_frame_mobile">

        <article class="footer">
            <h4>Company</h4>
            <hr color="#000732">
            <section class="footer_menu">
                <article style="text-align:left; margin-left: 15px;">
                    <h4 class="footer_options" onclick="">About</h4>
                    <h4 class="footer_options" onclick="">Privacy Policy</h4>
                    <h4 class="footer_options" onclick="">Contact Us</h4>
                </article>
                
                <article style="text-align:left;">
                    <h4 class="footer_options" onclick="">Press</h4>
                    <h4 class="footer_options" onclick="">Reviews</h4>
                    <h4 class="footer_options" onclick="">Blogs</h4>
                </article>
            </section>
        </article>

    </footer>

</body>
</html>