<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inter'>
    <title>Computer World: Service Center</title>
</head>

<body style="background-color: #000732;">
    <header style="background-color: #1BAECE; border-radius:5px; margin:5px;padding-bottom:5px;">
        <img src="/static/pics/Computer-World-logos_transparent.png" alt="Computer-World-logo" width="200" height="200">
        
        <!-- Top/Right header button section -->
        <article style="position:sticky;float:right;margin-top:5px;margin-right:5px;border-radius:5px;;height:200px;">
            <input type="button" class="btn" onclick="" value="Login">
            <input type="button" class="btn" onclick="" value="My Account">
            <input type="button" class="btn" onclick="" value="My Cart">
        </article>
        
        <!-- header title and banner section -->
        <article class="container" style="background-color:#427BD2;border-radius:5px;margin:5px;height:180px;padding:10px;">
            <h1 style="font-family: 'Inter';text-align:center;padding:20px;color:#000732;text-shadow: 1px 1px 3px #000732, 1px 1px 3px #000;">Computer Service Center</h1>
                <!-- Each image is 350px by 233px -->
                <article class="banner" >
                    <img class="start" src="https://c2.staticflickr.com/9/8454/28951308921_6589e3f1d3_z.jpg">
                    <img src="https://c3.staticflickr.com/9/8716/28407134794_bef4e3b216_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8334/28951307401_d8a7c852e9_z.jpg">
                    <img src="https://c1.staticflickr.com/9/8190/28407132824_fdf7bfe154_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8210/28951305801_bfe7c0b346_z.jpg">
                    <img src="https://c1.staticflickr.com/9/8716/28407131024_91c2626d3c_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8592/28951304321_a01fb808fb_z.jpg">
                    <img src="https://c1.staticflickr.com/9/8869/28407129424_54ea0f3d5a_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8454/28951308921_6589e3f1d3_z.jpg">
                    <img src="https://c3.staticflickr.com/9/8716/28407134794_bef4e3b216_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8334/28951307401_d8a7c852e9_z.jpg">
                    <img src="https://c1.staticflickr.com/9/8190/28407132824_fdf7bfe154_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8210/28951305801_bfe7c0b346_z.jpg">
                    <img src="https://c1.staticflickr.com/9/8716/28407131024_91c2626d3c_z.jpg">
                    <img src="https://c2.staticflickr.com/9/8592/28951304321_a01fb808fb_z.jpg">
                    <img src="https://c1.staticflickr.com/9/8869/28407129424_54ea0f3d5a_z.jpg">
                </article>
        </article>
    </header>

    <section class="body">
        <article style="background-color: #1BAECE; border-radius:5px; margin:5px; padding-bottom:5px;">
            <article style="background-color:#427BD2; border-radius:5px;  margin:5px; padding-bottom:5px;">
                <h3>Diagnostics and Inspections</h3>    
            </article>
            <article style="background-color:#427BD2; border-radius:5px;  margin:5px; padding-bottom:5px;">
                <h3>Parts Installation</h3>    
            </article>
            <article style="background-color:#427BD2; border-radius:5px;  margin:5px; padding-bottom:5px;">
                <h3>Repair</h3>    
            </article>
        </article>
        <article style="background-color: #1BAECE; border-radius:5px; margin:5px; padding-bottom:5px;">
            <article style="background-color:#427BD2; border-radius:5px;  margin:5px; padding-bottom:5px;">
                <h3>Data Recovery</h3>    
            </article>
            <article style="background-color:#427BD2; border-radius:5px;  margin:5px; padding-bottom:5px;">
                <h3>Reformat and Optimize Hard Drives</h3>    
            </article>
        </article>
        <article style="background-color: #1BAECE; border-radius:5px; margin:5px; padding-bottom:5px;">
            <article style="background-color:#427BD2; border-radius:5px;  margin:5px; padding-bottom:5px;">
                <h3>Virus Scan and Removal</h3>    
            </article>
            <article style="background-color:#427BD2; border-radius:5px;  margin:5px; padding-bottom:5px;">
                <h3>Software Installation and Configuration</h3>    
            </article>
        </article>
    </section>
</body>
</html>